/* 글로벌 css 파일 */
@font-face {
  font-family: 'NotoSansKR-Black';
  src: url(./fonts/NotoSansKR-Black.otf) format('truetype');
}

@font-face {
  font-family: 'NotoSansKR-Regular';
  src: url(./fonts/NotoSansKR-Regular.otf) format('truetype');
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border: 2px solid transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}