/* 글로벌 css 파일 */
@font-face {
  font-family: "AppleSDGothicNeoH";
  src: url(./fonts/AppleSDGothicNeoH.ttf) format("truetype");
}

@font-face {
  font-family: "AppleSDGothicNeoM";
  src: url(./fonts/AppleSDGothicNeoM.ttf) format("truetype");
}

@font-face {
  font-family: "AppleSDGothicNeoUL";
  src: url(./fonts/AppleSDGothicNeoUL.ttf) format("truetype");
}

@font-face {
  font-family: "AppleSDGothicNeoEB";
  src: url(./fonts/AppleSDGothicNeoEB.ttf) format("truetype");
}

@font-face {
  font-family: "AppleSDGothicNeoL";
  src: url(./fonts/AppleSDGothicNeoL.ttf) format("truetype");
}

@font-face {
  font-family: "AppleSDGothicNeoR";
  src: url(./fonts/AppleSDGothicNeoR.ttf) format("truetype");
}

@font-face {
  font-family: "AppleSDGothicNeoSB";
  src: url(./fonts/AppleSDGothicNeoSB.ttf) format("truetype");
}

@font-face {
  font-family: "AppleSDGothicNeoT";
  src: url(./fonts/AppleSDGothicNeoT.ttf) format("truetype");
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd; 
  border: 2px solid transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0
}